<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Edit post</title>
    <link th:replace="parts/common::csshead">
</head>
<body>
<div th:replace="parts/navbar::navbar"></div>
<div>
    <h1 class="text-center mt-4">Editing post</h1>
    <form method="post" class="w-75 mx-auto">
        <div class="form-group col-lg-12 col-lg-12 mt-lg-4">
            <label >Title</label>
            <input type=text class="form-control" th:value="${post.getTitle()}" name="title"/>
        </div>
        <div class="form-group col-lg-12 col-lg-12 mx-auto mt-lg-4">
            <label>Main text</label>
            <input type="text" class="form-control" th:value="${post.getText()}" name="text"/>
        </div>
        <div><input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /></div>
        <div class="container">
            <button type="submit" class="btn btn-primary w-100 mt-lg-4">Edit</button>
        </div>
    </form>
</div>
<!--<form method="post">-->
<!--    <input type="text" name="title" th:value="${post.getTitle()}"/>-->
<!--    <div><input type="text" name="text" th:value="${post.getText()}"/></div>-->
<!--    <div><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /></div>-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->
</body>
</html>